.mainDIv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    border: 1px solid grey;
    height: 120px;
    width: 899px;
    border-radius: 20px;
    margin: 20px 150px;
}

.CartImg {
    height: 7vw;
    width: 20vh;
    border-radius: 8px;
}

.Incre-Decre {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
        padding: 6px;
    }
}

.btns button {
    margin-left: 20px;
    padding: 3px;
}

.Paragraph{
    margin-left: 40%;
    font-size: xx-large;
}